body {
  background-color: #B5B5B5;
  color: white;
  font-weight: 200;
  /*padding: 60px;*/
}

/* navbar */
.navbar-default {
    background-color: #B5B5B5;
    border-color: #B5B5B5;
}
/* title */
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #555;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #B5B5B5;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #A5A5A5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #B5B5B5;
    border-bottom-color: #555;
}



.mp-navbar {
  /*background-color: #959595;*/
  border: 0px;
  /*color: #FFFFFF;*/
  /*opacity: 0.9;*/
}
/*.mp-navbar ul {
  float:right;
  background-color: #B5B5B5;
}*/


.block {
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.keyboard-block{
  background-image: url('../assets/images/keyboard.jpg');
}

.mountain-block{
  background-image: url('../assets/images/mountain.jpg');
}

.yoga-block{
  background-image: url('../assets/images/yoga.jpg');
}

.mp-body {
  width: 100vw;
  background-color: #FFFFFF;
  /*margin-top: 50px;*/
  /*padding: 40px 40px;*/
  /*height:455px;*/
  text-align: center;
}

/*.mp-body .mp-title {
  height: 50px;
  font-size: 30px;
  padding: 10px;
  font-weight: 100;
}*/

.mp-text-left {
  position: absolute;
  font-size: 20px;
  font-weight: 100;
  text-align: left;
  /*width: 20vw;*/
  /*margin-top: 25vh;*/
  /*margin-left: 20vw;*/
  /*overflow: scroll;*/
}

.mp-text {
  height: 100vh;
  background-color: #303030;
  opacity: 0.6;
  padding: 15px;
  padding-top: 50px;
  border-radius: 5px;
  color: #FFFFFF;
  position: absolute;
  font-size: 20px;
  font-weight: 100;
  text-align: left;
}

.mp-text-right {
  position: absolute;
  font-size: 20px;
  font-weight: 100;
  text-align: left;
  /*width: 20vw;*/
  /*margin-top: 25vh;*/
  /*margin-left: 60vw;*/
  /*overflow: scroll;*/
}
.mp-footer {
  height:100px;
}
